<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carousel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" /> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="/css/crousel.css">
</head>

<body>
  <section id="place">
    <div class="container">
      <h3 class="text-center section-subheading">Explore Odisha's Hidden Gems</h3>
      <h1 class="text-center section-heading">Odisha's Artistic Heritage</h1>
    </div>
    <div class="container">
      <div class="swiper place-slider">
        <div class="swiper-wrapper">
          <!-- Slide-start -->
          <div class="swiper-slide place-slide">
            <div class="place-slide-img">
              <img src="/images/Crousel/Konark.jpg" alt="Konark">

            </div>
            <div class="place-slide-content">
              <div class="place-slide-content-bottom">
                <h2 class="place-name">
                  Konark
                </h2>
              </div>
              <a href="/mysticodisha/destination/Puri/Konark Sun Temple" class="btn btn-primary cr-expl">Explore</a>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide place-slide">
            <div class="place-slide-img">
              <img src="/images/Crousel/jagannath.jpg" alt="Jagnnath Temple">
            </div>
            <div class="place-slide-content">
              <div class="place-slide-content-bottom">
                <h2 class="place-name">
                  Jagnnath Temple
                </h2>
              </div>
              <a href="/mysticodisha/destination/Puri/Jagannath Temple,Puri" class="btn btn-primary cr-expl">Explore</a>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide place-slide">
            <div class="place-slide-img">
              <img src="/images/Crousel/Daringbadi.jpg" alt="Daringbadi">
            </div>
            <div class="place-slide-content">
              <div class="place-slide-content-bottom">
                <h2 class="place-name">
                  Daringbadi
                </h2>
              </div>
              <a href="/mysticodisha/destination/Kandhamal/Daringbadi" class="btn btn-primary cr-expl">Explore</a>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide place-slide">
            <div class="place-slide-img">
              <img src="/images/Crousel/Chilika_Lake.jpg" alt="Chilika_Lake">
            </div>
            <div class="place-slide-content">
              <div class="place-slide-content-bottom">
                <h2 class="place-name">
                  Chlika Lake 
                </h2>
              </div>
              <a href="/mysticodisha/destination/Puri/Chilika Lake" class="btn btn-primary cr-expl">Explore</a>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide place-slide">
            <div class="place-slide-img">
              <img src="/images/Crousel/Similipal.jpg" alt="Similipal Wildlife Santuary">
            </div>
            <div class="place-slide-content">
              <div class="place-slide-content-bottom">
                <h2 class="place-name">
                  Similipal Wildlife Santuary
                </h2>

              </div>
              <a href="/mysticodisha/destination/Mayurbhanj/Similipal National Park" class="btn btn-primary cr-expl">Explore</a>
            </div>
          </div>
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide place-slide">
            <div class="place-slide-img">
              <img src="/images/Crousel/Tikarpada.jpg" alt="Tikarpada Wildlife Santuary">
            </div>
            <div class="place-slide-content">
              <div class="place-slide-content-bottom">
                <h2 class="place-name">
                  Tikarpada Wildlife Santuary
                </h2>

              </div>
              <a href="/mysticodisha/destination/Angul/Tikarpada Wildlife Sanctuary" class="btn btn-primary cr-expl">Explore</a>
            </div>
          </div> 
          <!-- Slide-end -->
          <!-- Slide-start -->
          <div class="swiper-slide place-slide">
            <div class="place-slide-img">
              <img src="/images/Crousel/Khandagari_and_Udaygiri.jpg" alt="Khandagari_and_Udaygiri">
            </div>
            <div class="place-slide-content">
              <div class="place-slide-content-bottom">
                <h2 class="place-name">
                  Khandagari and Udaygiri
                </h2>
              </div>
              <a href="/mysticodisha/destination/Khordha/Khandagiri" class="btn btn-primary cr-expl">Explore</a>
            </div>
          </div>
          <!-- Slide-end -->
        </div>
        <!-- Swiper Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
    </div>
  </section>
  <div class="a slider-controls">
    <button id="prevBtn" class="slick-arrow" fdprocessedid="664449"><img class="lefarrow" src="/images/Crousel/leftarrow.svg"
        alt=""></button>
    <button id="nextBtn" class="slick-arrow" fdprocessedid="yi278b"><img class="rigarrow" src="/images/Crousel/rightarrow.svg"
        alt=""></button>
  </div>
  <!-- button -->
  <!-- <div class="b">
    <button type="button" class="btn btn-outline-info btn-lg disc">Discover More</button>
  </div> -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <!-- <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/js/slider.js"></script>
</body>

</html>