<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <a href="http://localhost:3030/addDb">Add Place</a>
    <br><br>
    <% for(let result of results){ %>
        <div class="row card">
            <div class="img">
                <img src="<%= result.image %>">
            </div>
            <h3><%= result.name %></h3>
            <p> <%= result.dist %> </p>
            <p> <%= result.description %> </p>
        </div>
        <br>
    <% } %>
</body>
</html>