* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    overflow-x: hidden;
    color: black;
    /* height: 100%; */
   
  }
 
  .navbar {
    background: linear-gradient(to right, #181c1f 0%, #002639 40%, #000f1a 80%, #000000 100%);
    background-blend-mode: multiply;
    height: 10vh;
    z-index: 1000;
  }
  
  .navbar-brand {
    position: relative;
    left: 19px;
    color: white !important;
    font-size: xx-large !important;
    font-size: 3rem !important;
    font-family: "Josefin Sans", serif;
    font-weight: bold;
    background-image: url("https://www.worldhistory.org/uploads/images/11649.jpg"); 
    background-size: contain;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-flex;
  }
 
  .Mystic {
    position: absolute;
    left: 80px;
  }
  
  .Userico img {
      width: 2vw;
      height: 4vh; 
      object-fit: cover;
      background-color: white;
  }
  
  .sea {
    padding: 10px;
    width: 6vw;
    height: 6vh;
    object-fit: contain;
    position: relative;
    left: 34vw;
    top: 0rem;
  }
  
  .form-control {
    position: relative;
    left: 34vw;
    width: 100%;
    max-width: 250px; 
    border: 2px solid rgb(0, 0, 0);
    border-radius: 23px;
  }
  
  .Mystic {
    position: absolute;
    left: 80px;
  }
  
  /* Navbar */

  /* Custom white icon with animation */
.custom-toggler.navbar-toggler {
  border-color: rgba(255,255,255,0.5);
  padding: 0.55rem;
  transition: all 0.3s ease;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: transform 0.3s ease;
  width: 2.5rem;
  height: 1.4em;
}

/* Hover effects */
/* .custom-toggler:hover {
  transform: scale(1.05);
} */

/* .custom-toggler:hover .navbar-toggler-icon {
  transform: rotate(90deg);
} */

/* Focus state */
.custom-toggler:focus {
  box-shadow: 0 0 0 0.15rem rgba(255,255,255,0.25);
}
  
  /* Add some transition for sliding effect */
  /* Sidenav Styles */
  #mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  #mySidenav li {
    list-style: none;
  }
  
  #mySidenav li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    list-style: none;
    padding-left: 8px;
    margin-top: 1px;
  }
  
  #mySidenav a:hover {
    color: #f1f1f1;
  }
  
  /* The 'close' button style */
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style for the page content */
  
  .lists{
    display: inline-flex;
    flex-direction: column;
  }
  .list-item li{
    display: inline-flex;
  }
  .list-item li img{
    height: 53px;
    width: 32px;
  }


  /* =============================================navbar dark mode============================= */
  .nav-foot{
        display: inline-flex;
        flex-direction: column;
        width: -webkit-fill-available;
        position: absolute;
        bottom: 2rem;
  }
  .dark-light,.logout{
    display: inline-flex !important;
  }
  .nav-foot i{
    font-size: 2rem;
    padding-right: 20px;
    padding-left: 2rem;
    color: white;
    padding-bottom: 15px;
  }
  .nav-foot h5{
    color: aliceblue;
    margin-top: 2px;
  }
  .nav-foot:hover{
    color: white;
  
  }
  .dark-mood{
    background-color: black;
    color: white;
  }
  

  .logout h5{
    color: red;

  }
  .logout .fa-solid{
    color: red;
  }
  
  /* video *//* ---------------------------------video ------------------------------------- */
  .main-body{
    position: relative;
    overflow-x: hidden;
    width: 100vw;
  }
  .video-box{
    position: relative;
    top: 4rem;
    width: 100vw;
    /* border: 2px solid black; */
    /* background: linear-gradient(45deg, #dba80f, #4dcb2a, #8216ed, #000); */
    /* transition: 0.5s ease-out  0.4s; */
    animation: videoBoxClrCng 4s ease-in-out 2s infinite ;
  }

  /* @keyframes videoBoxClrCng {
    0%{
      background: linear-gradient(to right, #86db0f, #9812f1, #c712db, #e10b40);
    }
    25%{
      background: linear-gradient(to right, #e10b40, #1ae79f, #0d3ede, #ffffff);
    }
    50%{
      background: linear-gradient(to right, #ffffff, #ebee23, #1a8cea, #cf0e0e);
    }
    100%{
      background: linear-gradient(to right, #cf0e0e, #24023e, #e90707, #000);
    }
    
  } */
  video{
    position: relative;
    width: 117.2vw;
    height: 127vh;
    right: 8rem;
  }
  .controls{
    /* display: none; */
    height: 0px;
  }
  
  #mute-btn{
    height: fit-content;
    width: 2rem;
    /* border: 2px solid; */
    position: relative;
    left: 10rem;
    bottom: 9.6rem;
    /* color: #E91E63; */
    font-size: 2.5rem;
    /* background-color: black; */
  }
  #mute-btn i{
    /* position: relative;
    left: 18rem;
    bottom: 4rem;
    color: white;
    font-size: 1.5rem; */
    color: white;
  }
  #mute-btn i:hover{
    cursor: pointer;
  }

 
  /* =======================================near By===================================== */
  .nearby-box{
    position: relative;
    top: -2rem;
  }
  
  .near-names{
        display: inline-flex;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 96vw;
  }

  .near-heading{
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    align-items: center;
    justify-content: center;

  }
  .near-heading i{
    font-size: 2rem;
  }
  .near{
    height: 3rem;
    width: 11rem;
    border: 1px solid black;
    margin-left: 4rem;
    background: linear-gradient(45deg, #3fb1ac, transparent);
    border-radius: 7px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .near-search{
    margin-left: 42%;
    top: 0.5rem;
    width: 15rem;
    height: 3.5rem;
    position: absolute;
    border-radius: 23px;
    transform: translateY(10rem);
    background-color: #0d6efd;
    color: #ffffff;
    font-size: 1.5rem;
  }
  .near-radio{
    display: none;
  }
.near-radio:checked ~ .near{
  background-color: aqua;
  transition: 0.5s;
  	

}
/* ==============================================DB places================================== */
.db-place{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-place{
  display: inline-flex;
      height: fit-content;
      width: 25rem;
      border: 3px solid burlywood;
      border-radius: 15px;
      margin-left: 3rem;
      margin-bottom: 3rem;
      flex-wrap: wrap;
}
.card-place a{
  height: inherit;
  width: inherit;
  border-radius: 15px;
  text-decoration: none;
  /* color: black; */
  
}
.card-place a img{
  height: 17rem;
  width: 24.7rem;
  border-radius: 10px;
  object-fit: cover;
}
.card-place h5{
  padding-left: 1rem;
  color: black;
}
.card-place h6{
  padding-left: 1rem;
  color: black;
}
.card-place:hover{
  cursor: pointer;
  transform: translateY(-1rem);
  transition: 0.5s;
}
#db-place-dist{
  margin-left: 9rem;
}




/* ==============================================Footer================================== */
.foot {
  background: url("../svgs/Home/Footer/footer-background.svg") no-repeat center center/cover;
  color: white;
  position: sticky;
  width: 100%;
  z-index: 7;
  /* z-index: -1; */

}
#followUs{
  margin-left: 7rem;
  margin-top: 3rem;
}
.foot h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.foot ul {
  padding: 0;
  list-style: none;
  position: relative;
  top: 5vh;
}

.foot ul li {
  margin: 0 10px;

}

.foot a {
  color: white;
  text-decoration: none;

}
.foot ul li a:hover{
  text-decoration: underline;
}
.foot ul li img {
  /* max-width: 100%; */
  height: 2.5rem;
  width: 2.5rem;
  filter: grayscale(1);

}
.foot ul li #X{

  filter: contrast(0.5);
}
.foot ul li img:hover{
  filter:none;
}
.foot ul li #X:hover{
  filter:none;

}
/* .foot ul li img:hover{
  transform:scale(1.2);
  transition: 0.4s;
} */

.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.img-fluid-odisha {
  position: relative;
  margin-left: 10vw;
  height: 10rem;
}

.mys {
  position: relative;
  margin-left: 10vw;
  font-family: "Jim Nightshade", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.QL {
  margin-left: 200px;
  width: max-content;

}

.border-top {
  position: relative;
  top: 40px;
}

.list-unstyled li {
  font-size: large;
  width: max-content;
  padding: 6px;

}

.loader {
  /* width: 48px;
  aspect-ratio: 1;
  color: #854f1d;
  border-radius: 50%;
  display: grid;
  background: conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0) -4px -4px / calc(50% + 2px) calc(50% + 2px), radial-gradient(farthest-side, currentColor 6px, #0000 7px calc(100% - 6px), currentColor calc(100% - 5px)) no-repeat;
  animation: l10 2s infinite linear;
  position: relative;
  height: 3rem;
  top: 6px; */

  
      width: 41px;
    aspect-ratio: 1;
    color: #854f1d;
    border-radius: 50%;
    display: grid;
    background: conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0) -4px -4px / calc(50% + 2px) calc(50% + 2px), radial-gradient(farthest-side, currentColor 6px, #0000 7px calc(100% - 6px), currentColor calc(100% - 5px)) no-repeat;
    animation: l10 2s infinite linear;
    position: relative;
    height: 2.6rem;
    top: 10px;
 
}
.loader:before {
  content: "";
  border-radius: inherit;
  background: inherit;
  transform: rotate(45deg);
}
@keyframes l10 {to{transform: rotate(.5turn)}}