body{
    padding-left: 2.5rem;

}
/* index.ejs */
.all{
    display: inline-flex;
    flex-wrap: wrap;
}
.card{
    height: 23rem;
    width: 21rem;
    border: 2px solid black;
    border-radius: 10%;
    margin-bottom: 3rem;
    margin-left: 2rem;
    display: inline-block;
    
    
}
.card  img{
    height: 12rem;
    width: 21rem;
    border-radius: 1rem;
}
.card h3,p{
    padding-left: 1rem;
}
.editDelete{
    display: flex;
}
.edit-btn{
    position: absolute;
    left: 2rem;
}
.head{
    display:inline-flex;
    height: 3rem;
    width: 80vw;
    margin: 2rem;
    justify-content: space-around;
}
.searchPlace{
    width: 17rem;
    border-radius: 13px;
    height: 2.3rem;
    padding: 10px;
}