<footer class="foot py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2 id="followUs">Follow us</h2>
          <ul class="list-unstyled d-flex">
            <li><a href="#"><img src="/svgs/Home/Footer/footer-facebook.svg" alt="Facebook"></a></li>
            <li><a href="#"><img id="X" src="/svgs/Home/Footer/footer-x.svg" alt="Twitter"></a></li>
            <li><a href="https://www.instagram.com/odishamystic?igsh=YnRyZWJveXZ5dWwx"><img src="/svgs/Home/Footer/footer-instagram.svg" alt="Instagram"></a></li>
            <li><a href="#"><img src="/svgs/Home/Footer/footer-youtube.svg" alt="YouTube"></a></li>
            <li><a href="mailto:odishamystic@gmail.com?subject=Website%20Enquiry" aria-label="Contact via Gmail"class="email-link"><img src="/svgs/Home/Footer/footer-gmail.svg" alt="Email us via Gmail" width="32" height="32" loading="lazy"></a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="QL">Quick Links</h3>
          <ul class="list-unstyled">
            <li><a href="/mysticodisha/Feedback" class="QL">Feedback</a></li>
            <li><a href="/mysticodisha/Faq" class="QL">FAQs</a></li>
            <li><a href="/mysticodisha/ContactUs" class="QL">Contact Us</a></li>
            <li><a href="/mysticodisha/AboutUs" class="QL">About Us</a></li>
          </ul>
        </div>
        <div class="col-md-6 text-center">
          <h2 class="mys">MYSTIC ODISHA</h2>
          <img src="/svgs/Home/Footer/footer-odisha.svg" alt="Mystic Odisha" class="img-fluid-odisha">
        </div>
      </div>
      <div class="text-center py-3 border-top">
        <p>© 2024 Company, Inc. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>