<footer class="foot py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Follow us</h2>
                <ul class="list-unstyled d-flex">
                    <li><a href="#"><img src="../images/twitter.png" alt="Twitter" width="50" height="50"></a></li>
                    <li><a href="#"><img src="../images/insta.png" alt="Instagram" width="50" height="50"></a></li>
                    <li><a href="#"><img src="../images/youtube.png" alt="YouTube" width="50" height="50"></a></li>
                    <li><a href="#"><img src="../images/gmail.png" alt="Gmail" width="50" height="50"></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="QL">Quick Links</h3>
                <ul class="list-unstyled" >
                    <li ><a href="#"class="QL">Feedback</a></li>
                    <li ><a href="#"class="QL">FAQs</a></li>
                    <li ><a href="#"class="QL">Contact Us</a></li>
                    <li ><a href="#"class="QL">About Us</a></li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <h2 class="mys">MYSTIC ODISHA</h2>
                <img src="../images/footimg.svg" alt="Mystic Odisha" class="img-fluid">
            </div>
        </div>
        <div class="text-center py-3 border-top">
            <p>© 2024 Company, Inc. All rights reserved.</p>
        </div>
    </div>
</footer>    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>